* {box-sizing: border-box;}
body, html {
    padding:0;
    margin:0;
    height: 100%;
    width: 100%;
    background: #dddddd;
    font-weight:100;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    overflow: auto;
}
.container {
    height:auto;
    width: 60vw;
    margin:10vh auto;
    background: #fff;
    box-shadow: 8px 8px 12px #00000033;
    padding: 2.5vw;
}
.search {
    height: 50px;
    width:90%;
    display: flex;
    margin: 0 auto;
}
input#input {
    height:100%;
    width: 80%;
    border:1px solid grey;
    border-radius: 25px 0 0 25px;
    padding:20px;
    margin-bottom: 30px;
}
#srchbtn {
    background-color: #333336;
    width: 20%;
    color: white;
    border-radius: 0 25px 25px 0;
    border: none;
    cursor: pointer;
}
#word {
    font-size: 40px;
}
#wordtype {
    font-style: italic;
}
h1 {
    font-size: 40px;
}
#def {
    margin-left:10px;
}
@media only screen and (max-width:768px) {
    h1 {
        font-size: 30px;
    }
    #word {
        font-size: 20px;
    }
    .container {
        width: 90vw;    
    }    
    input#input {
       width: 70%;
    }
    #srchbtn {
        width: 30%;
    }
}

 
